
/* Middle
-----------------------------------------------------------------------------*/
	.breadcrumbs {
		margin-top: 5px;
		padding: 0 2px;
		font-weight: bold;
		font-size: 10px;
		color: #888;
		background: #ddd;
		border-bottom: 1px solid #ccc;

		li {
			display: inline-block;
		}
	}

