.v-diff {
	margin: 0;
	padding: 0;
	position: relative;

}

.version {
	font-weight: normal;
	color: @dark-font-color;
}

.versions {
	overflow: hidden;
	width: 310px;
	height: 20px;
	display: inline-block;
	position: relative;
	margin: -5px 0;

	&:hover {
		overflow: visible;
		z-index: 100;
	}

	li {
		width: 307px;
		border: 1px solid transparent;
		position: absolute;
		border-radius: 3px;
		margin: 0;
		padding: 2px 1px;
		background: #ddd;
		border: 1px solid transparent;
		text-align: center;
	}

	&:hover li {
		border: 1px solid #333;
	}

	a {
		display: inline;
		padding: 0 4px 0;
		text-align: center;
		border-radius: 2px;
		margin: 2px 2px;
		font: 11px/14px normal Tahoma !important;

		&:hover {
			background: #eee;
		}

	}

}
